#header3-5 .mbr-section-title,
#header3-5 .mbr-section-subtitle {
  text-align: center;
}
#header3-5 H3 {
  color: #f3c649;
}
#msg-box5-3 H3 {
  font-size: 36px;
}
#header3-6 .mbr-section-title,
#header3-6 .mbr-section-subtitle {
  text-align: center;
}
#header3-6 H3 {
  color: #f3c649;
}
#msg-box5-7 H3 {
  font-size: 36px;
  color: #e25041;
}
#msg-box5-7 P {
  color: #232323;
}
